/* styles/responsive-images.css */

.hero {
    max-width: 1000px;
    margin: 0 auto;
}

.hero img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any default inline spacing */
}
