:root {
    --primary-color: #ffffff;
    --secondary-color: #cda478C;
    --accent1-color: #383838;
}

footer{
    background-color: #000000;
    padding: 20px 0;
    text-align: center;
}
footer p{
    color:white;
    padding-bottom: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 9pt;
    letter-spacing: 0.5pt;
}