body{
    font-family: 'Roboto', sans-serif;
}

header, main, footer{
    max-width: 1020px;
    margin: 20px auto;
    border: 1px solid #5a4a39;
    padding: 20px;
    background-color: #dbe7fe;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
}

section{
    padding: 1rem;
}